h1{
	font-family:"Verdana",Times,serif;
	font-size:40em;
	font-weight:heavy
}
p{
	font-family:"Tahoma",Times,serif;
	font-size:12em;
	font-weight:lighter;
}
p.ab{
	font-size:12em;
	font-weight:300;
}
	


	
